<h3>HBox</h3>

@code {
    [Parameter]
    public string id { get; set; }
    [Parameter]
    public string top { get; set; }
    [Parameter]
    public string right { get; set; }
    [Parameter]
    public string horizontalGap { get; set; }
    [Parameter]
    public string verticalGap { get; set; }
    [Parameter]
    public string width { get; set; }
    [Parameter]
    public string height { get; set; }
    [Parameter]
    public string automationName { get; set; }
    [Parameter]
    public string borderColor { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }

}


@*
    "_width": "100%",
    "_height": "100%",
    "_id": "buttonBoxPanel",
    "_top": "5",
    "_right": "10",
    "_horizontalGap": "2",
    "_verticalGap": "2",
    "_automationName": "buttonBoxPanel",
    "__prefix": "mx"
    "_borderColor": "#0000ff",

*@