
<div style="width:@width;height:@height"></div>

@code{
    [Parameter]
    public string width { get; set; }
    [Parameter]
    public string height { get; set; }
}



@*
    "_width": "130",
    "__prefix": "mx"
*@
