<span id="@id"  style="width:@width; font-weight:@fontWeight;color: @color;  position:absolute;left:@(x)px;top:@(y)px;">@text</span>


@code
{
    [Parameter]
    public string text { get; set; }
    [Parameter]
    public int x { get; set; } = 0;
    [Parameter]
    public int y { get; set; } = 0;
    [Parameter]
    public string width { get; set; }
    [Parameter]
    public string id { get; set; }
    [Parameter]
    public string automationName { get; set; }
    [Parameter]
    public string style { get; set; }
    [Parameter]
    public string fontWeight { get; set; }
    [Parameter]
    public string color { get; set; }
}
