@*
    "_xmlns:mx": "http://www.adobe.com/2006/mxml",
    "_title": "PACS Login [IN CONFIDENCE]",
    "_showCloseButton": "false",
    "_layout": "absolute",
    "_height": "202",
    "_width": "370",
    "_styleName": "Canvas",
    "_fontSize": "11",
    "_automationName": "ComponentLoginScreen",
    "_horizontalAlign": "center",
    "_verticalAlign": "middle",
    "_creationComplete": "init(event)",
    "__prefix": "mx"

*@

<div   style="  font-size:@fontSize  ;height:@(height)px; width:@(width)px ;position:@(layout);;">
    @title
    @ChildContent
</div>


@code

{
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public string width { get; set; }
    [Parameter]
    public string borderAlpha { get; set; }
    [Parameter]
    public string height { get; set; }
    [Parameter]
    public string x { get; set; }
    [Parameter]
    public string y { get; set; }
    [Parameter]
    public int fontSize { get; set; }
    [Parameter]
    public string title { get; set; }
    [Parameter]
    public string style { get; set; }
    [Parameter]
    public bool showCloseButton { get; set; }
    [Parameter]
    public string layout { get; set; }
    [Parameter]
    public string styleName { get; set; }
    [Parameter]
    public string horizontalAlign { get; set; }
    [Parameter]
    public string verticalAlign { get; set; }
    [Parameter]
    public string automationName { get; set; }
    [Parameter]
    public EventCallback creationComplete { get; set; }


}

@*
    "_xmlns:mx": "http://www.adobe.com/2006/mxml",
    "_title": "PACS Login [IN CONFIDENCE]",
    "_showCloseButton": "false",
    "_layout": "absolute",
    "_height": "202",
    "_width": "370",
    "_styleName": "Canvas",
    "_fontSize": "11",
    "_automationName": "ComponentLoginScreen",
    "_horizontalAlign": "center",
    "_verticalAlign": "middle",
    "_creationComplete": "init(event)",
    "__prefix": "mx"

*@