<h3>VBox</h3>

@code {
    [Parameter]
    public string id { get; set; }
    [Parameter]
    public string top { get; set; }
    [Parameter]
    public string right { get; set; }
    [Parameter]
    public string horizontalGap { get; set; }
    [Parameter]
    public string verticalGap { get; set; }
    [Parameter]
    public string width { get; set; }
    [Parameter]
    public string height { get; set; }
    [Parameter]
    public string automationName { get; set; }
    [Parameter]
    public string borderColor { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }

}

@*

    "_id": "mainBox",
    "_verticalGap": "0",
    "_x": "10",
    "_y": "40",
    "_width": "290",
    "_height": "80%",
    "_borderColor": "#0000ff",
    "__prefix": "mx"
    
    *@
